@media (max-width: 457px) {
    .text1 {
        font-size: 40px;
    }
}
@media (max-width: 457px) {
    .title3 {
        font-size: 17px;
    }
}
@media (max-width: 457px) {
    .nav-a {
        margin-right: 10px;
    }
}
@media (max-widht: 655px) {
    .img-2 {
        display: none;
    }
}