.background-img {
    background-image: url("../img/Group5.jpg");
    background-repeat: no-repeat;
    max-width: 1280px;
    width: 100%;
    height: 900px;
    background-position: left top;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}
.flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.title3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: Lato;
    color: #fff;
    font-size: 100px;

}
.nav-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70.3px;
    flex-wrap: wrap;
    color: white;
}
.container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    
}
.color-nav {
    color: white;
}
.nav-a {
    margin-right: 31px;
    font-family: Poppins;
    font-weight: 500px;
    font-size: 12px;
}
.title1 {
    margin-top: 51px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    color: #d9f0ff;
}
/* body */

.div2 {
    display: flex;
    flex-wrap: wrap;
    
}
.box1 {
    max-width: 640px;
    width: 100%;
    height: 601.44px;
    margin: 0 auto;
  
}
.box2 {
    background-image: url("../img/Rectangle2.jpg");
    height: 601.44px;
    max-width: 641px;
    width: 100%;
}
.text1 {
    max-width: 468px;
    width: 100%;
    height: 186px;
    padding-top: 90px;
    margin-left: 86px;
    font-size: 50px;
    font-family: lato;
    margin: 0 auto;

}
.text2 {
    max-width: 457px;
    width: 100%;
    height: 128px;
    padding-top: 100px;
    margin-left: 86px;
    margin: 0 auto;
    font-size: 16px;
    font-family: poppins;
       
}
.text3 {
    max-width: 307px;
    width: 100%;
    height: 72px;
    background-color: #325DFF;
    border-radius: 36px;
    padding-top: 27px;
    padding-left: 45px;
    font-size: 14px;
    color: white;
    font-family: lato;
    margin: 0 auto;
    margin-top: 100px;
    
}
.footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}
.foot-box {
    max-width: 1171px;
    width: 100%;
    height: 965px;
    position: absolute;
    margin-top: 76.6px;
    margin-left: 55px;
    
    
}
.foot-div {
    max-width: 771px;
    width: 100%;
    margin: 0 auto;
    
}
.foot-text1 {
    font-size: 35px;
    text-align: center;
    font-family: lato;
}
.foot-text2 {
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    font-family: poppins;
   
}
.div6 {
    max-width: 1171px;
    width: 100%;
    height: 776px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.foot-div1 {
     display: flex;
        
}

.umbrela {
    max-width: 88px;
    width: 100%;
    height: 88px;
    background-color: #325DFF;
    border-radius: 50px;
    position: relative;
    margin: 0 auto;
    margin-top: 67px;
    margin-bottom: 27px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.icon {
    position: absolute;
    left: 27px;
    top: 27px;
    
}
.font1 {
    font-size: 18px;
    font-family: Lato;
    text-align: center;
    margin-bottom: 9px;
    font-weight: 600;
}
.font2 {
    font-size: 16px;
    font-family: Poppins;
    line-height: 20px;
    font-weight: 100;
}

.clear {
    clear: both;
}
.marg {
    /* max-width: 371px; */
    width: 100%;
    height: 374px;
}