.background-img {
    background-image: url("../img/Group5.jpg");
    background-repeat: no-repeat;
    width: 1280px;
    height: 900px;
    background-position: left top;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}
.flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
    .flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.flex-box1 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.title3 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: Lato;
    color: #fff;
    font-size: 100px;
}
.nav-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70.3px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}
.nav-a {
    margin-right: 31px;
    font-family: Poppins;
    font-weight: 500px;
    font-size: 12px;
}
.title1 {
    margin-top: 51px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    color: #d9f0ff;
}
.div2 {
    width: 1280px;
    height: 601.44px;
    margin: 0 auto;
    position: relative;
    flex-wrap: wrap;
    display: flex;
}
.box1 {
    width: 640px;
    height: 601.44px;
    background-color: azure;
    position: absolute;
    display: flex;
    flex-direction: column;
  
}
.box2 {
    background-image: url(../img/Rectangle2.jpg);
    position: absolute;
    width: 640px;
    height: 601.44px;
    background-color: blue;
    left: 640px;
}
.text1 {
    width: 468px;
    height: 186px;
    margin-top: 90px;
    margin-left: 86px;
    font-size: 50px;

}
.text2 {
    width: 457px;
    height: 128px;
    margin-top: 24px;
    margin-left: 86px;
    margin: 0 auto;
    display: flex;
    font-size: 16px;
       
}
.text3 {
    width: 307px;
    height: 72px;
    background-color: #325DFF;
    margin-left: 82px;
    border-radius: 36px;
    padding-top: 27px;
    padding-left: 45px;
    font-size: 14px;
    color: white;
    
}
.footer-box {
    width: 1280px;
    height: 1193px;
    margin: 0 auto;
    position: relative;

}
.foot-box {
    width: 1171px;
    height: 965px;
    position: absolute;
    margin-top: 76.6px;
    margin-left: 55px;
    
}
.foot-div {
    width: 771px;
    height: 130px;
    position: relative;
    margin-left: 225px;
    display: flex;
    flex-direction: column;
}
.foot-text1 {
    font-size: 35px;
    text-align: center;
}
.foot-text2 {
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
   
}
.div6 {
    width: 1171px;
    height: 776px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.foot-div1 {
    justify-content: space-around;
    position: relative;
    display: flex;
        
}

.umbrela {
    width: 88px;
    height: 88px;
    background-color: #325DFF;
    border-radius: 50px;
    position: relative;
    margin-left: 143px;
    top: 67px;
}
.icon {
    position: absolute;
    left: 27px;
    top: 27px;
    
}
.font1 {
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 132px;
    margin-bottom: 9px;
}
.font2 {
    font: 16px;
    color: black;
    text-align: center;

}
.clear {
    clear: both;
}
.marg {
    width: 371px;
    height: 374px;
}